dagster-dbt==0.26.5
dagster-webserver==1.10.5
dagster-postgres==0.26.5
duckdb==1.2.1
dbt-duckdb==1.9.2
dbt-trino==1.9.0
# dbt-spark[PyHive]==1.8.0
pyarrow==19.0.1
pandas==2.2.3
plotly==6.0.1
trino==0.333.0
yfinance==0.2.54
psycopg2-binary==2.9.10
pyiceberg[sql-postgres,pyarrow]==0.9.0
polars[pyiceberg]==1.25.2
